.fb-comments{
    position: absolute;
    width: 100%;
}
#header-size {
    background-color: black;
    height: 70px;
    width: 100%;
}
.background,
.comment-block,
.comment-text { 
    position: absolute;
    top: 0;
    left: 0;
}
.comment-text {
    height: 52.68%;
    width: 50.83%;
    display: inline-block;
}
body {
    max-width: 100%;
    margin: 0 auto; /* Để căn giữa nội dung nếu kích thước màn hình lớn hơn 1920px */  
    zoom:80%;
}

.comment-block {
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
    border-radius: 23.02px;
    background-color: var(--color-white);
}
input::placeholder {
    padding-top: 10px; /* Đẩy placeholder xuống dưới */
    padding-left: 10px; /* Đẩy placeholder sang phải */
    font-size: 30px;
}
textarea {
    font-family: Arial;
    font-size: 20px;
    border: none;
    position: relative;
    outline: none;
}
.add-comment {
    position: absolute;
    height: 70%;
    width: 85%;
    top: 12.04%;
    left: 6.39%;
    display: inline-block;
}
.comment {
    position: absolute;
    height: 73.64%;
    width: 100%;
    top: 26.34%;
    right: 0;
    bottom: 0.01%;
    left: 0;
    font-size: 26.85px;
    color: var(--color-black);
}
.comment-sent-block,
.comment-site {
    position: absolute;
    height: 79.5%;
    width: 71.79%;
    top: 0;
    right: 28.21%;
    bottom: 20.5%;
    left: 0;
}
.comment-sent-block {
    height: 81.52%;
    width: 15.22%;
    right: 84.78%;
    bottom: 18.48%;
    background-color: #d9d9d9;
}
.gi {
    position: absolute;
    height: 10%;
    width: 5%;
    border: none;
    font-size: 70%;
    top: 85%;
    right: 28%;
    font-size: 15px;
    display: inline-block;
}
.sent-comment {
    position: absolute;
    height: 13.9%;
    width: 34.97%;
    top: 86.12%;
    right: 0;
    bottom: -0.02%;
    left: 65.04%;
    font-size: 26.85px;
    color: var(--color-black);
}
.comment-box {
    position: absolute;
    height: 15.23%;
    width: 91.21%;
    top:50%;
    right: 50%px;
    background-clip: blue;
    bottom: 11.64%;
    left: 8.79%;
}
.kichhoat-block1 {
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: 22.85px;
    background-color: #85c4c8;
}
.kickhoat-description {
    position: absolute;
    height: 39.04%;
    width: 88.54%;
    top: 11.37%;
    left: 4.67%;
    display: inline-block;
    text-shadow: 0 3.0467631816864014px 3.05px rgba(0, 0, 0, 0.25);
}
.kichhoat-block2 {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: none;
    background-color: #cad19f;
}
.kch-hot {
    position: absolute;
    height: 80.32%;
    width: 90%;
    top: 23.11%;
    left: 4%;
    font-family: arial;
    font-weight: 600;
    font-size: 22px;
    display: inline-block;
}
.enable-site,
.kichhoat-button {
    position: absolute;
    height: 25.59%;
    width: 17.49%;
    top: 65.4%;
    bottom: 9.01%;
    left: 40.23%;
    font-size: 30.27px;
}
.enable-site {
    height: 8.99%;
    width: 1920px;
    top: 51.25%;
    bottom: 31.58%;
    left:12%;
    text-align: center;
    justify-content: center;
    font-size: 30.47px;
    color: var(--color-black);
}

.block-tap3 {
    position: absolute;
    height: 100%;
    width: 31.13%;
    top: 0;
    right: 1.65%;
    bottom: 0;
    left: 67.22%;
    border-radius: 7.78px;
    background-color: var(--color-mediumseagreen);
}

.tp-3,
.tp-2,
.tp-1 {
    position: absolute;
    height: 62.08%;
    left: 11%;
    top: 25%;
    font-weight: 700;
    font-size: 110%;
    font-family: arial;
    width: 80.91%;
    color: white;
    display: inline-block;
}
.block-tap2 {
    position: absolute;
    height: 100%;
    width: 31.13%;
    top: 0;
    right: 35.26%;
    bottom: 0;
    left: 33.61%;
    border-radius: 7.78px;
    background-color: var(--color-mediumseagreen);
}
.block-tap1 {
    height: 100%;
    width: 31.13%;
    top: 0;
    right: 68.87%;
    bottom: 0;
    left: 0;
    border-radius: 7.78px;
    background-color: var(--color-mediumseagreen);
}
.block-tap1,
.episode {
    position: absolute;
}
.custom-btn {
    font-size: 18px;
    font-weight: bold;
    color: black;
    padding: 12px 24px;
    border-radius: 10px;
  }

.btn-group {
        height: 2.3%;
        width: 21.49%;
        top: 47.1%;
        right: 69.73%;
        bottom: 45.26%;
        left: 8.79%;
        font-size: var(--font-size-2xl);
    }
.like-block-icon {
    position: relative;
    height: 89.02%;
    width: 100%;
    top: 1%;
    right: 0;
    bottom: 5.53%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    z-index: 1;
    border-radius: 10px;
}
.like-text {
    z-index: 5;
    position: absolute;
    top: 19.99%;
    left: 41.09%;
    color: white;
}
.like a {
    position: relative;
    display: inline-block;
}
.facebook-icon {
    height: 60%;
    width: 24.83%;
    top: 20%;
    right: 66.65%;
    bottom: 0;
    left: 8.53%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 2;
}
.like,
.chia-s,
.facebook-icon {
    position: absolute;
}
.like {
    height: 100%;
    width: 100px;
    top: 0;
    right: 58.12%;
    left: 0;
}
.chia-s {
    z-index: 2;
    top: 24.99%;
    left: 35.46%;
    font-size: 93%;
    color: white;
}
.baoCMT {
    position: absolute;
    top: 60%;
    left: 7.5%;
    width: 100%;
    zoom:80%;
    border-radius: 10px; /* Điều chỉnh giá trị của border-radius tùy thích */
}


.facebook-icon1 {
    position: absolute;
    top: 25%;
    width: 23.83%;
    right: 60%;
    height: 50%;
    left: 7.54%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 2;
}

.share {
    position: absolute;
    height: 50px;
    width: 110px;
    left: 110px;
    top: -3px;
    border-radius: 10px;
}
.interact-site {
    position: absolute;
    height: 1.86%;
    width: 13.58%;
    top: 41.25%;
    right: 77.35%;
    bottom: 50.4%;
    left: 12.5%;
    font-size: 19.44px;
}
.movie-title,
.views {
    color:white;
    position: absolute;
    height: 50%;
    width: 140%;
    top: -110%;
    left: 0;
    display: inline-block;
}
.views {
    top: -55%;
    font-size: 25px;
    font-family: "Times New Roman", sans-serif; /* Thay đổi font chữ */
}
.movie-details {
    position: absolute;
    height: 6.83%;
    width: 45.52%;
    top: 40.91%;
    bottom: 52.26%;
    left: 12.5%;
    font-size: 52px;
}
.movie-wallpaper-icon {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 34.56px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.inline-video {
    position: absolute;
    height: 0.22%;
    width: 100.08%;
    top: 85.8%;
    right: -0.08%;
    bottom: 13.97%;
    left: 0;
    border-top: 0.8px solid var(--color-white);
    box-sizing: border-box;
}
.speed,
.time {
    position: absolute;
    height: 9.68%;
    width: 7.79%;
    top: 89.63%;
    left: 85.82%;
    display: inline-block;
}
.time {
    height: 8%;
    width: 20.52%;
    top: 90.46%;
    left: 21.48%;
    font-size: 22.72px;
}
.circled-play-icon,
.full-screen-icon,
.play-icon,
.reload-icon,
.setting-icon,
.volumn-icon {
    position: absolute;
    height: 9.49%;
    width: 2.67%;
    top: 90.54%;
    right: 94.47%;
    bottom: -0.03%;
    left: 2.87%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.circled-play-icon,
.full-screen-icon,
.reload-icon,
.setting-icon,
.volumn-icon {
    right: 89.93%;
    left: 7.4%;
}
.circled-play-icon,
.full-screen-icon,
.setting-icon,
.volumn-icon {
    right: 85.4%;
    left: 11.93%;
}
.circled-play-icon,
.full-screen-icon,
.setting-icon {
    right: 1.33%;
    left: 96%;
}
.circled-play-icon,
.setting-icon {
    right: 5%;
    left: 92.33%;
}
.circled-play-icon {
    height: 26.41%;
    width: 9.67%;
    top: 0;
    right: 45.19%;
    bottom: 73.59%;
    left: 45.13%;
}
.video-display,
.video-settings {
    position: absolute;
    height: 80%;
    width: 95.18%;
    top: 41.54%;
    right: 2.73%;
    bottom: 1.46%;
    left: 2.09%;
}
.video-display {
    height: 27.26%;
    width: 59.61%;
    top: 8.17%;
    right: 27.8%;
    bottom: 64.57%;
    left: 12.59%;
    font-size: 26.88px;
}
.bao {
  background-image:linear-gradient(rgb(0,0,0,0.9),rgb(0,0,0,0.9)) , url(img/tower.jpg);
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 100%;
  zoom:80%
}
.button-icon,
.tm-kim {
    left: 250.39px;
    width: 35px;
}
.tm-kim {
    top: 48.99px;
    left: 289.27px;
    display: inline-block;
    width: 113.1px;
    height: 18.6px;
}
.film-reel-icon {
    position: absolute;
    top: 40.44px;
    left: 452.57px;
    width: 35px;
    height: 35px;
    object-fit: cover;
}
.phim-hot {
    position: absolute;
    top: 48.99px;
    left: 491.46px;
    display: inline-block;
    width: 113.1px;
    height: 18.6px;
}
.movie-ticket-icon {
    position: absolute;
    top: 40.44px;
    left: 655.53px;
    width: 35px;
    height: 35px;
    object-fit: cover;
}
.phim-l {
    position: absolute;
    top: 48.99px;
    left: 694.41px;
    display: inline-block;
    width: 113.1px;
    height: 18.6px;
}
.cinema-icon {
    position: absolute;
    top: 40.44px;
    left: 857.71px;
    width: 35px;
    height: 35px;
    object-fit: cover;
}
.phim-b {
    position: absolute;
    top: 48.99px;
    left: 896.6px;
    display: inline-block;
    width: 113.1px;
    height: 18.6px;
}
.ask-question-icon {
    position: absolute;
    top: 40.44px;
    left: 1060.67px;
    width: 35px;
    height: 35px;
    object-fit: cover;
}
.iframe-container {
    display: none;
    position: absolute;
    top: 100%; /* Đặt vị trí dưới thẻ chia sẻ */
    left: 0;
    z-index: 1000; /* Đảm bảo iframe hiển thị trên các phần tử khác */
    background-color: rgb(0, 0, 0); /* Nền màu trắng */
    padding: 10px; /* Đệm cho nội dung */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hiệu ứng đổ bóng */
    border-radius: 8px; /* Bo góc */
    width: 520px; /* Đặt chiều rộng container lớn hơn iframe */
    height: auto; /* Tự động điều chỉnh chiều cao */
}

.iframe-container iframe {
    display: block;
    border-radius: 8px; /* Bo góc cho iframe */
}

.share:hover .iframe-container {
    display: block;
}
.faq {
    position: absolute;
    top: 45.88px;
    left: 1099.55px;
    display: inline-block;
    width: 54.4px;
    height: 23.3px;
}
.vector-icon,
.your-acccount {
    position: absolute;
    top: 40.44px;
    left: 1204.53px;
    width: 35px;
    height: 35px;
}
.your-acccount {
    top: 46.66px;
    left: 1243.41px;
    font-size: 26.44px;
    display: inline-block;
    width: 216.2px;
    height: 21.8px;
}
.header {
    position: relative;
    width: 100%;
    height: 100px;
    font-size: 24.88px;
    font-family: var(--font-inter);
}
.trang-xem-film-2-sau-khi-bm {
    width: 100%;
    position: relative;
    height: 2500px;
    overflow: hidden;
    text-align: left;
    font-size: 38.36px;
    color: var(--color-white);
    font-family: var(--font-open-sans);
}
@media screen and (max-width: 1305px) {
    .enable-site {
        width: 58%;
        height: 6%;
    }
    .kickhoat-description {
        font-size: 70%;
    }
    .kichhoat-button {
        width: 20%;
        height: 20%;
        top: 55%;
    }
    .kch-hot {
        font-size: 18px;
    }
    .movie-title {
        font-size: 80%;
    }
    .views {
        font-size: 18px;
    }
    .tp-3,
    .tp-2,
    .tp-1 {
        padding-top: 5px;
        font-size: 80%;
    }
    .comment-text {
        font-size: 80%;
        height: 40%;
    }
    .comment-box {
        width: 80%;
    }
    .video-display {
        width: 55%;
        height: 20%;
    }
    .video-settings {
        width: 95%;
    }
    .circled-play-icon {
        width: 13%;
    }
    .circled-play-icon,
    .full-screen-icon,
    .play-icon,
    .reload-icon,
    .setting-icon,
    .volumn-icon,
    .full-screen-icon,
    .play-icon,
    .reload-icon,
    .setting-icon,
    .volumn-icon {
        width: 2%;
        height: 5%;
    }
    .speed,
    .time {
        bottom: 5%;
        font-size: 50%;
        top: 89.5%;
    }
    .circled-play-icon {
        width: 10%;
        height: 19%;
    }
}
@media screen and (max-width: 725px) {
    /*manhinhdienthoai*/
    .enable-site {
        width: 50%;
        height: 4%;
        top: 52%;
    }
    .kickhoat-description {
        font-size: 50%;
    }
    .kichhoat-button {
        width: 15%;
        height: 20%;
        top: 45%;
    }
    .kch-hot {
        font-size: 10px;
    }
    .movie-title {
        font-size: 60%;
        top: -60%;
    }
    .views {
        font-size: 18px;
        top: -20%;
    }
    .comment-sent-block {
        background-color: #262626;
    }
    .tp-3,
    .tp-2,
    .tp-1 {
        padding-top: 5px;
        font-size: 53%;
    }
    .episode {
        top: 46%;
    }
    .interact-site {
        top: 41.5%;
    }
    .comment-text {
        font-size: 65%;
        height: 40%;
        top: -80%;
    }
    .comment-block {
        width: 70%;
        display: none;
        top: -70%;
    }
    #textarea-position {
        top: -110%;
        left: -5%;
        position: relative;
        height: 140px;
    }
    textarea {
        margin-left: 0;
        height: 140px;
        border-radius: 10px;
        font-size: 15px;
    }
    .gi {
        font-size: 14px;
        width: 150%;
        top: -700%;
        left: -200%;
        border-radius: 10px;
    }

    .video-display {
        width: 65%;
        height: 18%;
    }
    .video-settings {
        width: 95%;
    }
    .circled-play-icon {
        width: 13%;
    }
    .circled-play-icon,
    .full-screen-icon,
    .play-icon,
    .reload-icon,
    .setting-icon,
    .volumn-icon,
    .full-screen-icon,
    .play-icon,
    .reload-icon,
    .setting-icon,
    .volumn-icon {
        width: 2%;
        height: 5%;
    }
    .speed,
    .time {
        bottom: 5%;
        font-size: 50%;
        top: 89.5%;
    }
    .circled-play-icon {
        width: 10%;
        height: 19%;
    }
}
body {
    height: 80vh;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.Timkiem {
    width: 50%;
}
.buttons {
    position: absolute;
    bottom: 90%;
    right: 10%;
    width: 90%;
    display: flex;
}
.navbar-nav img {
    margin: 0;
}
.navbar-nav a {
    width: 80%;
    font-weight: bold;
    text-wrap: nowrap;
    margin: 20px;
}
.navbar-nav a:hover {
    color: teal;
}
.inside-recommend {
    display: flex;
}

body {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.container img {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
}

.container2 {
    max-width: 100%;
    justify-content: center;
}

.container3 {
    max-width: 100%;
    justify-content: center;
}

.slider-wrapper {
    position: relative;
}

.slider-wrapper2 {
    position: relative;
}

.slider-wrapper3 {
    position: relative;
}

.slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
}
.slider-wrapper2 .slide-button2 {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slider-wrapper3 .slide-button3 {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
    background: #404040;
}
.slider-wrapper2 .slide-button2:hover {
    background: #404040;
}
.slider-wrapper3 .slide-button3:hover {
    background: #404040;
}

.slider-wrapper .slide-button#prev-slide {
    left: -25px;
    display: none;
}

.slider-wrapper .slide-button#next-slide {
    right: -25px;
}

.slider-wrapper2 .image-list2 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 18px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
}
.slider-wrapper3 .image-list3 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 18px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
}

.slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
}
.slider-wrapper2 .image-list2::-webkit-scrollbar {
    display: none;
}
.slider-wrapper3 .image-list3::-webkit-scrollbar {
    display: none;
}

.slider-wrapper .image-list .image-item {
    width: 325px;
    height: 400px;
    object-fit: cover;
}

.slider-wrapper2 .image-list2 .image-item {
    width: 325px;
    height: 400px;
    object-fit: cover;
}

.slider-wrapper3 .image-list3 .image-item {
    width: 325px;
    height: 400px;
    object-fit: cover;
}

.container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.container2 .slider-scrollbar2 {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.container3 .slider-scrollbar3 {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
}
.slider-scrollbar2 .scrollbar-track2 {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
}

.slider-scrollbar3 .scrollbar-track3 {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
}

.slider-scrollbar:hover .scrollbar-track {
    height: 4px;
}
.slider-scrollbar2:hover .scrollbar-track2 {
    height: 4px;
}
.slider-scrollbar3:hover .scrollbar-track3 {
    height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #000;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
}
.slider-scrollbar2 .scrollbar-thumb2 {
    position: absolute;
    background: teal;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
}

.slider-scrollbar3 .scrollbar-thumb3 {
    position: absolute;
    background: #008080;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
}

.slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}
.slider-scrollbar2 .scrollbar-thumb2:active {
    cursor: grabbing;
    height: 10px;
    top: -2px;
}

.slider-scrollbar3 .scrollbar-thumb3.image-list3::-webkit-scrollbar {
    cursor: grabbing;
    height: 10px;
    top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}
.slider-scrollbar2 .scrollbar-thumb2::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}
.slider-scrollbar3 .scrollbar-thumb3::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

.slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
}
.slider-wrapper2 .image-list2 {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
}
.slider-wrapper3 .image-list3 {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
}

.slider-wrapper .image-list .image-item {
    width: 280px;
    height: 380px;
}
.slider-wrapper2 .image-list2 .image-item {
    width: 280px;
    height: 380px;
}
.slider-wrapper3 .image-list3 .image-item {
    width: 280px;
    height: 380px;
}

.slider-scrollbar .scrollbar-thumb {
    width: 20%;
}
.slider-scrollbar2 .scrollbar-thumb2 {
    width: 50%;
}
.slider-scrollbar3 .scrollbar-thumb3 {
    width: 20%;
}

.image-list img:hover {
    transform: scale(0.9);
    transition: 0.5s;
}

.image-list2 img:hover {
    transform: scale(0.9);
    transition: 0.5s;
}
.image-list3 img:hover {
    transform: scale(0.9);
    transition: 0.5s;
}
.image-list a {
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-align: center;
}
.image-list a:hover {
    color: #008080;
    transition: 1s;
}

.image-list2 a {
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 25px;
}
.image-list3 a {
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 25px;
}

.image-list2 a:hover {
    transform: translateY(-5%);
    transition: 0.5s;
}
.image-list3 a:hover {
    transform: translateY(-5%);
    transition: 0.5s;
}
.image-list a:hover {
    color: #008080;
    text-decoration: none;
    transition: 1s;
}

.image-list2 a:hover {
    color: teal;
    text-decoration: none;
}
.image-list3 a:hover {
    color: lightcoral;
    text-decoration: none;
}

.box {
    height: 30px;
    display: none;
    cursor: pointer;
    padding: 10px 20px;
    background: white;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    width: 50%;
}

.box:hover input {
    width: 50%;
}
.box input {
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}
.phimle {
    color: teal;
    text-align: center;
    margin-top: 100px;
    text-align: center;
}
.phimbo {
    color: lightcoral;
    text-align: center;
    margin-top: 100px;
    text-align: center;
}

.nuthuy:hover {
    background-color: teal;
}
.nuthuy {
    margin-left: 5px;
    align-items: center;
}

button:hover {
    background-color: greenyellow;
}
.container .picture1:hover {
    transform: translateX(15%);
}
.container .descrip {
    transform: translateX(-7%);
}
.container .picture2:hover {
    transform: translateX(15%);
}
.container h2 {
    font-size: 35px;
}
.container p {
    font-size: 20px;
}

.login-footer {
    background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)),
        url(footer3.jpg);
    width: 100%;
    height: 100%;
    position: relative;
    padding: 30px 0;
}
.login-footer a {
    margin: 20px;
    color: white;
    font-size: 25px;
    text-align: center;
}
.login-footer a:hover {
    color: teal;
    text-decoration: none;
}
.desc {
    position: relative;
    width: 100%;
    font-size: 50px;
    color: #008080;
    text-align: center;
    margin-left: 80%;
    font-weight: bold;
}
.desc:hover {
    color: red;
}
.fb {
    font-size: 35px;
}
.discord {
    font-size: 35px;
}
.email {
    font-size: 35px;
}
.fb:hover {
    color: #3b5998;
    font-size: 50px;
}
.discord:hover {
    color: #7289da;
    font-size: 50px;
}
.email:hover {
    color: #606c38;
    font-size: 50px;
}
.footer-list {
    margin-bottom: 40px;
}

.footer-item {
    display: flex;
    gap: 150px;
}

@media (max-width: 980px) {
    .Timkiem {
        width: 40%;
        margin-top: 0;
        margin-left: 5%;
    }
    .phimle {
        font-size: 25px;
    }
    .phimbo {
        font-size: 25px;
    }
    .container2 .slider-wrapper2 .image-list2 .image-item {
        width: 100%;
        height: 70%;
    }
    .container2 .slider-wrapper2 .image-list2 a {
        width: 95%;
        height: 70%;
        font-size: 14px;
    }
    .scrollbar-track2 {
        width: 100%;
    }
    .container3 .slider-wrapper3 .image-list3 .image-item {
        width: 100%;
        height: 70%;
    }
    .container3 .slider-wrapper3 .image-list3 a {
        width: 100%;
        height: 70%;
        font-size: 14px;
    }
    .scrollbar-track3 {
        width: 100%;
    }
    .desc {
        position: relative;
        width: 20%;
        font-size: 50px;
        color: #008080;
        text-align: center;
        margin-left: 30%;
    }
    .footer-item {
        display: flex;
        gap: 10px;
    }
    .fb {
        font-size: 20px;
    }
    .discord {
        font-size: 20px;
    }
    .email {
        font-size: 20px;
    }
    .login-footer {
        background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)),
            url(footer3.jpg);
        width: 100%;
        height: 100%;
        position: relative;
    }
    .login-footer a {
        margin: 20px;
        color: white;
        font-size: 15px;
        text-align: center;
    }
}

@media (max-width: 1120px) {
    .container .picture1 {
        width: 30%;
        margin-right: 5%;
    }
    .container .picture2 {
        width: 30%;
        margin-right: 5%;
    }
    .container h2 {
        font-size: 20px;
    }
    .container p {
        font-size: 10px;
    }

    .container .picture2 {
        width: 30%;
        margin-right: 5%;
    }
    .container .picture3 {
        width: 30%;
    }
    .container .picture1:hover {
        transform: none;
    }

    .container .picture2:hover {
        transform: none;
    }
    .container .descrip {
        transform: none;
    }
}
#nav-color {
    background-color: #008080 !important;
}
.like {
    position: absolute;

    border-radius: 10px;
}

.iframe-container {
    display: none;
    position: absolute;
    top: 100%; /* Đặt vị trí dưới thẻ like */
    left: 0;
    z-index: 1000; /* Đảm bảo iframe hiển thị trên các phần tử khác */
    background-color: white; /* Nền màu trắng */
    padding: 10px; /* Đệm cho nội dung */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hiệu ứng đổ bóng */
    border-radius: 8px; /* Bo góc */
    width: 520px; /* Đặt chiều rộng container lớn hơn iframe */
    height: auto; /* Tự động điều chỉnh chiều cao */
}

.iframe-container iframe {
    display: block;
    border-radius: 8px; /* Bo góc cho iframe */
}

.like:hover .iframe-container {
    display: block;
}
.fb-comments{
    position: absolute;

    top:53.5%;
    left:5%;
}