body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-kanit: Kanit;
  --font-open-sans: "Open Sans";

  /* font sizes */
  --font-size-5xl-9: 24.9px;
  --font-size-lgi-4: 19.4px;
  --font-size-2xl: 21px;
  --font-size-7xl-9: 26.9px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-mediumseagreen: #48c78e;

  /* Border radiuses */
  --br-5xs-8: 7.8px;
}
