
.Timkiem {
    width: 50%;
}
#header-inside {
  font-size: 25px;
}

#Logo {
  font-size: 60px;
  font-weight: bold;
}
.navbar-nav a {
  font-weight: bold;
  width: 85%;
    margin: 25px;
    color:goldenrod;
}


.navbar-nav a:hover {
  color: teal;
  font-weight:800;
  transition: 0.1s;
} 


#header-text {
  width:150%;
  justify-content: center;
  margin-right:145px;
}

#account-text {
  border-radius: 30px;
  margin-right:10px;
  font-weight: bold;
}